<h1>ALL ALPHA BLOGGERS</h1>
<% @users.each do |user| %>
<ul class="listing">
  <li class="article title">
    <%= link_to user.username, user_path(user) %>
  </li>
  <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
</ul>
<% end %>